version: '3.9'

services:
  frontend:
    container_name: cash_front
    build: ./frontend
    ports:
      - 3000:3000
    platform: linux/x86_64
    depends_on:
      backend:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "lsof", "-t", "-i:3000"]
      timeout: 10s
      retries: 5
      start_period: 30s
  backend:
    container_name: cash_back
    restart: always
    build: ./backend
    ports:
      - 3001:3001
    platform: linux/x86_64
    depends_on:
      db:
        condition: service_healthy
    environment:
      - APP_PORT=3001
      - DB_USER=root
      - DB_PASS=123456
      - HOST=db
      - DB_PORT=3306
      - DB_NAME=cashforce_v4
    healthcheck:
      test: ["CMD", "lsof", "-t", "-i:3001"]
      timeout: 10s
      retries: 5
      start_period: 30s
  db:
    image: mariadb:10-jammy
    container_name: cash_db
    platform: linux/x86_64
    ports:
      - 3002:3306
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    restart: 'always'
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u", "root", "--password=123456"]
      timeout: 10s
      retries: 5
    cap_add:
      - SYS_NICE